/*disable parallax for background image on mobile*/
@media (hover: none) {
	.parallax {
	  height: auto;
	  background-attachment: scroll;
	  background-size: contain;
	  background-repeat: repeat;
	}
}
