
/*disable parallax for background image on mobile*/
@media only screen and (max-width:3000px) {
  .parallax {
    background-attachment: inherit;
  }
}

body {
  font-family: inherit;
  font-size: 0.9rem;
  line-height: inherit;
  color: inherit;
  margin-top: 71px; /* Offset body content by navbar height. */
  padding-top: 0;
  counter-reset: captions;
}

@media screen and (max-width: 1200px) { /* Match max-width of .nav-bar query. */
  body {
    margin-top: 51px; /* Offset body content by navbar height. */
  }
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
